<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Contacts</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            </div>

            <a class="navbar-brand" href="index.html">Kranthi Kumar</a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/JS">MyApp</a></li>
                    <li class="active"><a href="/Contact">Contact<span class="sr-only">(current)</span></a></li>
                     <li><a href="/guestbook">Guestbook</a></li>>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h3>Contact</h3>
    </div>
    <div class="pad">
        <table>
            <tr>
                <td>
                    <a href="https://github.com/KranthiParelly">
                        <h4>Github</h4>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://bitbucket.org/KranthiKumar_Parelly/">
                        <h4>BitBucket</h4>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://in.linkedin.com/in/kranthi-kumar-21526a95">
                        <h4>LinkedIn</h4>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <!-- client email-->
    <!-- www.bootstrapbay.com-->
    <div class="container" method="POST"action="Contact">
        <h3>Send Email</h3>
    </div>
    <div class="width">

        <form class="form-horizontal" role="form" method="post" action="index.php">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" placeholder="UserName" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" name="email" placeholder="example@nwmsu.com" value="">
                </div>
            </div>
            <div class="form-group">
                <label for="message" class="col-sm-2 control-label">Message</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="4" name="message"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
                </div>
            </div>

        </form>
        <!-- client email-->
    </div>

</body>

</html>