<!doctype html>
<!--www.initializer.com-->

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Kranthi Kumar Parelly</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            </div>

            <a class="navbar-brand" href="index.html">Kranthi Kumar</a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            </div>

            <!--getbootstrap.com-->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/index">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="/JS">MyApp</a></li>
                    <li><a href="/Contact">Contact</a></li>
                     <li><a href="/guestbook">Guestbook</a></li>>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <table class="hwidth">
                <tr>
                    <td>
                        <h2>Hi there!</h2>
                        <h3> I'm Kranthi Kumar Parelly. Scroll down to know a little about me.</h3>
                    </td>
                    <td><img class="cBorder" id="mLeft" style="width: 170px; height: 300px;" src="dp.jpg" alt="Display Picture"></td>
                </tr>
            </table>
        </div>
    </div>
    <article>
        <header></header>
        <section class="font">
            <h3 class="hpad"> Background</h3>
            <p>I am from Hyderabad, India. I got my Bachelors in Technology in Electronics and Instrumentation Engineering from Amrita University, Bangalore, India. I got selected by Wipro technologies Pvt Ltd. through a campus placement and worked there
                for 15 months. I am currently pursuing my Masters degree in Applied Computer Science at NorthWest Missouri State University, Maryville, Missouri, USA.</p>
            <h3> Plans</h3>
            <p>I would like to obtain a job as a programmer and a manager. I would like to work in development.</p>
            <h3>Interests</h3>
            <p>I am interested in knowing about new Electronics. I like swimming. My hobbies are acting,watching Movies, TV Shows and Anime, listening to music, gaming, watching sports and reading books. The website I use the most is youtube. I like Java
                because I used it the most during my time in Wipro.</p>
        </section>
        <p>Here is a Music video that I like:</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1G4isv_Fylg" allowfullscreen></iframe>

    </article>
    <!--
    <div class="container" id="bg">
       Example row of columns
      <div class="row">
        <div class="col-md-4">
          <h2>About Me</h2>
          <p>A little about my education, interests and hobbies</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>JavaScript</h2>
          <p>A small javaScript program</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Contact me</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>
    </div>  /container -->
    <footer id="fColor">
        <p class="font">&copy;</p>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
    </script>

    <script src="js/vendor/bootstrap.min.js"></script>

    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!-- <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>-->
</body>

</html>