

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.cBorder {

  border-radius: 100%;
}

#mLeft{
    margin-right: 65%;
}

body{
  background-image: url("https://www.clipartsgram.com/image/1127858435-background-images-for-websites-24.jpg");
  
}

#fColor {
  background-color:#c4c4c4;
}
.font{
     font-family: Roboto,Georgia, 'Times New Roman', Times, serif,sans-serif;
     
}
.hwidth{
    width: 100%;
}
.width{
  width: 50%;  
}
.pad {
    padding-right: 100px;

    padding-left: 130px;
}
.hPad{
     padding-right: 150px;
  padding-left: 150px;
}









